body {
    padding-top: 5%; background-color: hsl(47, 88%, 63%);
}

.card { 
      background-color: white; 
      padding-top: 10px; padding-left: 20px; padding-bottom: 5px;
      width: 20%; height: auto; 
      margin: 0 auto; 
      border-radius: 10px;
      border: 2px solid black;
      box-shadow: 5px 5px black;
}

.main-img {
    padding-right: 10px; 
    border-radius: 10px; 
    width: 90%; height: 30%;
}

.attribution { 
    font-size: 11px; text-align: center; 
    min-height: 100%; position: relative; 
}
.attribution a { color: hsl(228, 45%, 44%); } 

